mixin header(headerMods, currentPage)
  -
    const headerLinks = [
      {
        href: '#',
        text: 'Бизнес',
        label: 'Бизнес'
      },
      {
        href: '#',
        text: "О нас",
        label: 'О нас'
      },
      {
        href: '#',
        text: 'Цены',
        label: 'Цены'
      },
      {
        href: '#',
        text: 'Оформить заказ',
        label: 'Оформить заказ'
      }
    ]

  header.header(class=headerMods)
    .container
      .header__content-wrapper
        if(currentPage === "main.html")
          .header__logo
            +img("content", "logo", "png", 120, 120, "Логотип компании")
        else
          a.header__logo(href="main.html", aria-label="На главную страницу")
            +img("content", "logo", "png", 120, 120, "Логотип компании")

        .header__content
          nav.main-nav
            ul.main-nav__list
              each link in headerLinks
                - const activeState = currentUrl === link.href
                li.main-nav__item
                  if(activeState)
                    span.main-nav__link.is-active=link.text
                  else
                    a.main-nav__link.hover-main(href=link.href aria-label=link.label)=link.text

        button.header__menu-btn.button.button--transparent.js-open-menu(type="button" aria-label="Развернуть меню" aria-pressed="false")
          +icon("icon-burger", 24, 24)
        button.header__menu-btn.button.button--transparent.btn-close-menu(type="button" aria-label="Свернуть меню" aria-pressed="false")
          +icon("icon-cross", 14, 14)
        .bg-overlay

    .mobile-nav
      .mobile-nav__wrapper
        .container
          .mobile-nav__block
            ul.mobile-nav__list
              each link in headerLinks
                - const activeState = currentUrl === link.href
                li.mobile-nav__item
                  if(activeState)
                    span.mobile-nav__link.is-active=link.text
                  else
                    a.mobile-nav__link.hover-main(href=link.href aria-label=link.label)=link.text
